@using CommonDLL.DTO
@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

<div class="divTop">
    ScaleSettings
</div>

<h3> Select Site Scalling Percent </h3>

@Html.Partial("_ScaleSettingsPartialView")

<h3> Scalling Sample </h3>

@Html.Partial("_ScaleSettingsTopViewPartial")
@using (Html.BeginForm())
{
    @Html.Action("ScaleSettingsGridViewPartial", "ScaleSettings")
}



