@using CommonDLL.DTO
@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

<div class="divTop">
    Settings
</div>

@Html.Action("SettingsTopPartialView", "Settings")