@using System.Drawing
@using BusinessLogic.Logic;
@using Reports.Controllers.Cache
@using CommonDLL.DTO
@model DashboardDTO

@{

    if (Model != null)
    { 
    
    <div>

        @Model.Name

        
    </div>

    }


}