<script type="text/javascript">

    function onShowChooserClick(s, e) {
        UpdateCustomizationWindowVisibility();
    }
    function grid_CustomizationWindowCloseUp(s, e) {
        UpdateButtonText();
    }
    function UpdateCustomizationWindowVisibility() {
        if (ReportGridView.IsCustomizationWindowVisible())
            ReportGridView.HideCustomizationWindow();
        else
            ReportGridView.ShowCustomizationWindow();
        UpdateButtonText();
    }
    function UpdateButtonText() {
        var text = ReportGridView.IsCustomizationWindowVisible() ? "Hide" : "Show";
        text += " Column Chooser";
        btShowColumnChooser.SetText(text);
    }


    function OnRowDoubleClick(s, e) {


        var grid = MVCxClientGridView.Cast(s);
        var key = grid.GetRowKey(e.visibleIndex);
        var url = '@Url.Action("Index", "ReportData")?Id=' + key;
        window.location.href = url;

    }

</script>

<div class="options">
    <div class="options-item">
        @Html.DevExpress().Button(settings =>
        {
            settings.Name = "btShowColumnChooser";
            settings.Text = "Show Column Chooser";
            settings.ClientSideEvents.Click = "function (s, e) { onShowChooserClick(s,e); }";

        }).GetHtml()
    </div>
</div>