@using Stimulsoft.Report.Mvc;

@{
    ViewBag.Title = "Api Layout";
    Layout = "~/Views/Shared/_ApiLayout.cshtml";
}
<a href='@Url.Action("Index", "Home")'> Go Home </a>
<div style="padding:10px">

    <h2> Terms of use </h2>
    <p>
        Welcome to Yebo Report, These terms of use "Terms" govern the use of our website.

    </p>

    <h3>   Use of the website</h3>
    <p>
        <div>  You must be at least <b> 21 years old </b> to use this website </div>
        <div>   You agree to use our software for lawful purposes only. We donot allow activities that are illegal or fraudulent or farmful.</div>
    </p>

    <h3>   Intellectual Property </h3>
    <p>
        <div>
            <div>  All the content on this website is protected by copyright and other intellectual property laws, this includes but not limited to text, images, design. </div>
            <div> You agree not to modify, copy, distribute, steal, sell our software without our written permission.  </div>
        </div>
    </p>


    <h3> Disclaimers and Limitations of Liability </h3>
    <p>
        <div>     Our software and services are provided on an "as is" and "as available" basis, we can not guarantee that the software is without errors or omissions.  </div>
        <div>     We disclaim all liability for any damages or losses resulting from your use of our website or services, including without limitation, direct, indirect, incidental, consequential, or punitive damages.   </div>
    
    </p>


    <h3> Changes to this Policy </h3>
    <p>
        <div>  By using our website it means that you agree to our terms and conditions. </div>
        <div>  We have a right to change or modify these terms at any time without giving any notice.    </div>
    </p>



</div>
<a href='@Url.Action("Index", "Home")'> Go Home </a> 