<table style="width: 100%;">
    <tr>
        <td style="width: 100%;">
            <table style="width: 100%;">
                <tr>
                    <td style="width: 100%;">
                        @Html.DevExpress().Label(settings =>
                                  {
                                      settings.Name = "lblCommonMessage";
                                      settings.PreRender = (sender, e) =>
                                      {
                                          ASPxLabel lb = (ASPxLabel)sender;
                                          lb.ClientInstanceName = "lblCommonMessage";
                                          settings.ClientVisible = false;
                                      };
                                  }).GetHtml()
                    </td>
                </tr>
            </table>
            <table style="width: 100%;">
                <tr>
                    <td style="width: 100%;height: 40px"></td>
                </tr>
            </table>
            <table style="width: 100%;">
                <tr>
                    <td style="float: right;">
                         
                         @Html.DevExpress().Button(settings =>
                             {
                                 settings.Name = "btnYesCloseButton";
                                 settings.Text = "Ok";
                                 settings.UseSubmitBehavior = false;
                                 settings.ClientVisible = false;
                                 settings.ClientSideEvents.Click = "function(s, e) { SharedMessageBox.Hide(); }";
                             }).GetHtml()
              

                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
